body {

    font-family: Arial, Helvetica, sans-serif;

    background-color: #000000;

    color: #28d8e4;

}

h1 {

    color: #58A6FF;

}

/* Attribute Selector */

a {

    color: #f2f6fa;

    text-decoration: none;

}

a:hover {

    color: #1F6FEB;

}

/* Child Selector */

ul>li {

    font-weight: bold;

}

/* Sibling Selector */

h1+p {

    background-color: #161B22;

    padding: 10px;

    border-radius: 5px;

}/* :hover Pseudo-class */

ul li:hover {

    color: #c45b3b;

}

/* :nth-child(n) Pseudo-class */

ul li:nth-child(0) {

    background-color: #ec0d0d;

}

/* :not(selector) Pseudo-class */

p:not(:first-of-type) {

    text-decoration: underline;

}

/* ::before Pseudo-element */

ul li::before {

    content: "🚀 ";

}

/* ::after Pseudo-element */

a::after {

    content: " 🌌";

}

/* ::first-letter Pseudo-element */

p::first-letter {

    font-size: 200%;

    color: #d0dc24;

}